name: Build Analyze
on:
  workflow_call:
    inputs:
      codebuild-runner:
        description: "Codebuild runner name"
        required: true
        type: string
      native:
        description: 'Native Build'
        default: 'false'
        required: false
        type: string
jobs:
  build:
    name: Build and analyze
    runs-on: ${{ inputs.codebuild-runner }}-${{ github.run_id }}-${{ github.run_attempt }}
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          fetch-depth: 0
          ref: ${{ inputs.ref_name }}
          persist-credentials: false
      - name: Cache SonarCloud packages
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      #- name: Cache Maven packages
      #  uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4
      #  with:
      #    path: ~/.m2
      #    key: ${{ runner.os }}-m2
      #    restore-keys: ${{ runner.os }}-m2
      # - name: Java checkstyle
      #   uses: dbelyaev/action-checkstyle@v0.7.5
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     reporter: github-pr-review
      #     level: warning

      - name: Build and UT
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mvn clean package -B \
            -DskipTests -DskipITs=true \
            -Dquarkus.devservices.enabled=false \
            -Dquarkus.mongodb.devservices.enabled=false \
            -Dquarkus.liquibase-mongodb.enabled=false
      - name: Analyze and IT
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -B \
            -Dsonar.projectKey=${{ vars.SONAR_PROJECT_KEY }} \
            -Dsonar.branch.name=${{ github.ref_name }} \
            -Dsonar.scm.provider=git \
            -DskipTests -DskipITs=true \
            -Dquarkus.devservices.enabled=false \
            -Dquarkus.mongodb.devservices.enabled=false \
            -Dquarkus.liquibase-mongodb.enabled=false \
            -Dsonar.qualitygate.wait=true
      - name: Update dependency graph
        uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
