name: Deploy
on:
  workflow_call:
    inputs:
      runs-on: ${{ inputs.codebuild-runner }}-${{ github.run_id }}-${{ github.run_attempt }}
      ref_name:
        description: 'Deploy ref name'
        default: ${{ github.ref }}
        required: false
        type: string
jobs:
    if: startsWith(github.ref, 'refs/tags/v')
    codebuild-runner:
        description: "Codebuild runner name"
        required: true
        type: string
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          ref: ${{ inputs.ref_name }}
          persist-credentials: false
      - name: Cache Maven packages
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2
          restore-keys: ${{ runner.os }}-m2
      - name : Setup python
        uses: actions/setup-python@39cd14951b08e74b54015e9e001cdefcf80e669f # v5.1.1
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: pip install -r ./.github/workflows/requirements.txt
      - name: Setup from env variables
        env:
          K8S_APPLICATION_NAME: ${{ vars.K8S_APPLICATION_NAME }}
          K8S_SERVICE_ACCOUNT_NAME: ${{ vars.K8S_SERVICE_ACCOUNT_NAME }}
          MS_K8S_NAMESPACE :  ${{ vars.MS_K8S_NAMESPACE }}
        run: |
          cat src/main/kubernetes/kubernetes.yml | envsubst '$K8S_APPLICATION_NAME $K8S_SERVICE_ACCOUNT_NAME $MS_K8S_NAMESPACE'  > src/main/kubernetes/kubernetes.yml.tmp
          mv src/main/kubernetes/kubernetes.yml.tmp src/main/kubernetes/kubernetes.yml
          cat src/main/resources/application.properties | envsubst '$HTTP_BASE_PATH' > src/main/resources/application.properties.tmp
          mv src/main/resources/application.properties.tmp src/main/resources/application.properties
          VERSION="${{ github.ref_name }}"
          echo "VERSION=${VERSION:1}" >> $GITHUB_ENV
      - name: setup-git-credentials
        uses: de-vri-es/setup-git-credentials@5e1f18da68b7039c7f824408d170811aaec93ca8 # v2.1.2
        with:
          credentials: https://pdnd-pagopa-github-bot:${{ secrets.PAT_BOT }}@github.com/
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2    
      - name: Generating k8s yml
        run: mvn package
          -Dquarkus.kubernetes.ingress.expose=true
          -Dquarkus.container-image.registry=${{ steps.login-ecr.outputs.registry }}
          -Dquarkus.container-image.group=${{ vars.IMAGE_GROUP }}
          -Dquarkus.container-image.tag=${{ env.VERSION }}
          -Dquarkus.application.version="${{ env.VERSION }}"
          -Dquarkus.kubernetes.ingress.ingress-class-name=external-api-nginx
          -Dquarkus.kubernetes.ingress.annotations.\"nginx.ingress.kubernetes.io/rewrite-target\"="/\$2"
          -Dquarkus.kubernetes.ingress.annotations.\"nginx.ingress.kubernetes.io/use-regex\"="true"
          -Dquarkus.kubernetes.service-account=${{ vars.K8S_SERVICE_ACCOUNT_NAME }}
          -Dquarkus.kubernetes.name=${{ vars.K8S_APPLICATION_NAME }}
          -Dquarkus.kubernetes.add-version-to-label-selectors=false
          -Dquarkus.kubernetes.replicas=2
          -Dquarkus.kubernetes.resources.requests.memory=128Mi
          -Dquarkus.kubernetes.resources.requests.cpu=250m
          -Dquarkus.kubernetes.resources.limits.memory=256Mi
          -Dquarkus.kubernetes.resources.limits.cpu=500m
          -Dquarkus.kubernetes.ports.http.path="${{ vars.HTTP_BASE_PATH }}(/|$)(.*)"
          -DskipTests
      - name: 'Deploy kubernetes'
        run: |
          aws eks update-kubeconfig --region ${{ vars.AWS_REGION }} --name ${{ vars.MAIN_CLUSTER_NAME }}
          echo "yml generated : "
          cat target/kubernetes/kubernetes.yml
          echo "end "
          kubectl apply  -f target/kubernetes/kubernetes.yml -n  ${{ vars.MS_K8S_NAMESPACE }}
      - name : Convert openapi
        run: |
          wget --header "Authorization: token ${{ secrets.PAT_BOT }}" ${{ vars.OPENAPI_INTEGRATION_SCRIPT_URL }} -P /tmp/
          python3 /tmp/openapi_integration.py -i src/main/resources/META-INF/openapi.yaml -o ${{ vars.AWS_OPENAPI_PATH }}
      - name : Deploy openapi
        run: |
          cd .infra/aws
          ./terraform.sh plan prod -target=module.deploy_api_gw
          ./terraform.sh apply prod -auto-approve -target=module.deploy_api_gw
