name: PROD | Deploy - Microservice 
on:
  workflow_call:
    inputs:
      codebuild-runner:
        description: "Codebuild runner name"
        required: true
        type: string
      openapi-folder:
        required: false
        type: string
      deploy-apigw-module-name:
        description: "TF module for the API deployment on AWS API Gateway"
        default: "module.deploy_api_gw"
        required: false
        type: string
      timeout:
        description: "Timeout helm command"
        default: "10m"
        required: false
        type: string

jobs:
  deploy-microservice:
    environment:
      name: prod
      #url: ${{ vars.APP_URL }}
    name: Deploy to K8S
    runs-on: ${{ inputs.codebuild-runner }}-${{ github.run_id }}-${{ github.run_attempt }}
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - name: Verify tag
        id: tag_verify
        uses: nowsprinting/check-version-format-action@de7dcbd404b253dd775262e49c9924fa834e17a2 # v4.0.3
        with:
          prefix: 'v'
      - name: Get Target Namespace
        id: deploy_namespace
        run: |
          echo "deploy_namespace=$(yq -r '.namespace' .k8s/helm/values.yaml)" >> "$GITHUB_OUTPUT"
      - name: Deploy to K8S via Helm
        id: helm_deploy
        env:
          HELM_RELEASE: ${{ github.event.repository.name }}
          HELM_REPOSITORY: .k8s/helm
          HELM_DEFAULT_VALUES: .k8s/helm/values.yaml
          HELM_NAMESPACE: ${{ steps.deploy_namespace.outputs.deploy_namespace }}
          HELM_ENV_VALUES: .k8s/helm/env-values/${{ vars.DEPLOY_ENVIRONMENT }}.yaml
        run: |
          aws eks update-kubeconfig --region eu-central-1 --name ${{ vars.EKS_CLUSTER }}
          helm upgrade --install $HELM_RELEASE $HELM_REPOSITORY -n $HELM_NAMESPACE -f $HELM_DEFAULT_VALUES -f $HELM_ENV_VALUES --atomic --timeout ${{ inputs.timeout}}
  deploy-openapi:
    name: Deploy to API Gateway
    if: ${{ inputs.openapi-folder != null && inputs.openapi-folder != '' }}
    needs:
      - deploy-microservice
    runs-on: ${{ inputs.codebuild-runner }}-${{ github.run_id }}-${{ github.run_attempt }}
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - name: Install PyYAML
        id: openapi_dependencies
        run: pip install PyYAML==6.0
      - name : Convert OpenAPI
        id: openapi_convert
        run: |
          wget --header "Authorization: token ${{ secrets.PAT_BOT }}" ${{ vars.OPENAPI_INTEGRATION_SCRIPT_URL }} -P /tmp/
          python3 /tmp/openapi_integration.py -i ${{ inputs.openapi-folder }}/openapi.yaml -o ${{ vars.AWS_OPENAPI_PATH }}
      - name: Setup Git Credentials
        id: openapi_git_credentials
        uses: de-vri-es/setup-git-credentials@5e1f18da68b7039c7f824408d170811aaec93ca8 # v2.1.2
        with:
          credentials: https://pdnd-pagopa-github-bot:${{ secrets.PAT_BOT }}@github.com/
      - name : Deploy OpenAPI
        id: openapi_deploy
        run: |
          cd .infra/aws
          sh ./terraform.sh apply prod -auto-approve -target=${{ inputs.deploy-apigw-module-name }}