name: "DEV | Build and Deploy Pull Request"

on:
  workflow_call:
    inputs:
      codebuild-runner:
        description: "Codebuild runner name"
        required: true
        type: string
      docker-image-to-update:
        description: "Specify which docker imge to update if more than one"
        default: ".image.digest"
        required: false
        type: string
      repository-name:
        description: "repository-name"
        default: ${{ github.event.repository.name }}
        required: false
        type: string
      dockerfile-directory:
        description: "Directory containing the Dockerfile (leave empty if Dockerfile is in the root)"
        required: false
        type: string
      build-image:
        description: "Execute build image step"
        required: false
        default: true
        type: boolean
      timeout:
        description: "Timeout helm command"
        default: "20m"
        required: false
        type: string

jobs:
  build-and-deploy-to-dev:
    if: >
      "github.actor != 'github-actions[bot]' ||
      !contains(${{ github.event.head_commit.message }}, '[skip ci]')"
    environment:
      name: dev
      url: ${{ vars.APP_URL }}
    runs-on: ${{ inputs.codebuild-runner }}-${{ github.run_id }}-${{ github.run_attempt }}
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0

      - name: Login to DEV ECR
        id: ecr_login_dev
        uses: aws-actions/amazon-ecr-login@33f92af657bba1882ab79d8621debd2f6769a0c9 #v2.0.0

      - name: Create AWS ECR Docker Repository
        id: ecr_docker_repository
        uses: pagopa/pdnd-github-actions/create-ecr-repository@9b197047943123c2d716acd6953ce5c20e1d6807
        with:
          repositoryName: ${{ inputs.repository-name }}

      - name: Create AWS ECR Helm Repository
        id: ecr_helm_repository
        uses: pagopa/pdnd-github-actions/create-ecr-repository@9b197047943123c2d716acd6953ce5c20e1d6807
        with:
          repositoryName: charts/${{ github.event.repository.name }}

      - name: Build and Push Image with PR Tag
        if: ${{ inputs.build-image == true }}
        id: build
        env:
          REGISTRY: ${{ steps.ecr_login_dev.outputs.registry }}
          REPOSITORY: ${{ inputs.repository-name }}
          IMAGE_TAG: pr-${{ github.event.number }}
          DOCKER_BUILDKIT: 1
        run: |
          if [ -n "${{ inputs.dockerfile-directory }}" ]; then
            cd ${{ inputs.dockerfile-directory }}
          fi
          docker build \
              --build-arg DOCKER_REGISTRY_URI=$REGISTRY \
              -t $REGISTRY/$REPOSITORY:$IMAGE_TAG -t $REGISTRY/$REPOSITORY:latest .
          docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG
          docker push $REGISTRY/$REPOSITORY:latest

      - name: Get Image Digest
        if: ${{ inputs.build-image == true }}
        id: image_digest
        env:
          REGISTRY: ${{ steps.ecr_login_dev.outputs.registry }}
          REPOSITORY: ${{ inputs.repository-name }}
          IMAGE_TAG: pr-${{ github.event.number }}
        run: |
          DIGEST=$(aws ecr describe-images \
            --repository-name $REPOSITORY \
            --image-ids imageTag=$IMAGE_TAG \
            --query 'imageDetails[0].imageDigest' \
            --output text)
          echo "image_digest=$DIGEST" >> $GITHUB_OUTPUT

      - name: Update dev.yaml digest
        if: ${{ inputs.build-image == true }}
        env:
          IMAGE_DIGEST: ${{ steps.image_digest.outputs.image_digest }}
        run: |
          yq e '${{ inputs.docker-image-to-update }} = env(IMAGE_DIGEST)' -i .k8s/helm/env-values/dev.yaml

      - name: "Determine PR Chart Version"
        id: chart_version
        run: |
          BASE_VERSION=$(yq -r '.version' .k8s/helm/Chart.yaml)
          PR_VERSION="${BASE_VERSION}-pr.${{ github.event.number }}"
          echo "chart_version=${PR_VERSION}" >> "$GITHUB_OUTPUT"

      - name: "Package and Push Helm Chart to DEV ECR"
        id: helm_package_push
        env:
          ECR_REGISTRY: ${{ steps.ecr_login_dev.outputs.registry }}
          CHART_NAME: ${{ github.event.repository.name }}
          CHART_VERSION: ${{ steps.chart_version.outputs.chart_version }}
        run: |
          helm package .k8s/helm --version $CHART_VERSION --app-version $CHART_VERSION
          helm push ${CHART_NAME}-*.tgz oci://${ECR_REGISTRY}/charts

      - name: Get Target Namespace
        id: deploy_namespace
        run: |
          echo "deploy_namespace=$(yq -r '.namespace' .k8s/helm/values.yaml)" >> "$GITHUB_OUTPUT"

      - name: Deploy to K8S via Helm
        id: helm_deploy
        env:
          HELM_RELEASE: ${{ github.event.repository.name }}
          HELM_REPOSITORY: .k8s/helm
          HELM_DEFAULT_VALUES: .k8s/helm/values.yaml
          HELM_NAMESPACE: ${{ steps.deploy_namespace.outputs.deploy_namespace }}
          HELM_ENV_VALUES: .k8s/helm/env-values/${{ vars.DEPLOY_ENVIRONMENT }}.yaml
        run: |
          aws eks update-kubeconfig --region ${{ vars.AWS_REGION }} --name ${{ vars.EKS_CLUSTER }}
          helm upgrade --install $HELM_RELEASE $HELM_REPOSITORY -n $HELM_NAMESPACE -f $HELM_DEFAULT_VALUES -f $HELM_ENV_VALUES --atomic --timeout ${{ inputs.timeout}}