name: Release
on:
  workflow_call:
    inputs:
      codebuild-runner:
        description: "Codebuild runner name"
        required: true
        type: string
      native:
        description: 'Native Build'
        default: false
        required: false
        type: boolean
      semantic_version:
        description: "Specify which semantic_version to use"
        default: "21.1.2"
        required: false
        type: string
    outputs:
      release_tag:
        description: "Release Tag name"
        value: ${{ jobs.release.outputs.release_tag }}
jobs:
  release:
    runs-on: ${{ inputs.codebuild-runner }}-${{ github.run_id }}-${{ github.run_attempt }}
    env:
      GITHUB_TOKEN: ${{ secrets.PAT_BOT }}
      BOT_USERNAME: pdnd-pagopa-github-bot
      BOT_EMAIL: "pdnd-pagopa-github-bot@pagopa.it"
    environment: prod
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          token: ${{ secrets.PAT_BOT }}
      - name: Check default branch
        run: |
          default_branch=$(git remote show origin | awk '/HEAD branch/ {print $3}')
            if [ "${{ github.ref }}" != "refs/heads/$default_branch" ]; then
            echo "Error: Workflow must be triggered from default branch ($default_branch)." >&2
          exit 1
          fi
      - uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        with:
          node-version: 18
      - name : Setup python
        uses: actions/setup-python@39cd14951b08e74b54015e9e001cdefcf80e669f # v5.1.1
        with:
          python-version: '3.9'
      #    cache: 'pip'
      #- name: Cache Maven packages
      #  uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4
      #  with:
      #    path: ~/.m2
      #    key: ${{ runner.os }}-m2
      #    restore-keys: ${{ runner.os }}-m2    
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@b1b432f13acb7768e0c8efdec416d363a57546f2 # v4.1.1
        id: semantic
        with:
          semantic_version: ${{ inputs.semantic_version }}
          extra_plugins: |
            @semantic-release/changelog@6.0.0
            @semantic-release/git
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_BOT }}
      - name: Login to Amazon ECR
        if: steps.semantic.outputs.new_release_published == 'true'
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2
      - name: Create AWS ECR repository
        if: steps.semantic.outputs.new_release_published == 'true'
        uses: pagopa/pdnd-github-actions/create-ecr-repository@74cf3f8abfacd6814b924408a11b02f177f8f5a3
        with:
          repositoryName: "${{ vars.IMAGE_GROUP }}/${{ github.event.repository.name }}"
      - name: Image Release
        if: steps.semantic.outputs.new_release_published == 'true'
        run: mvn package -B ${{ github.event.inputs.native == 'true' && '-Pnative -Dquarkus.native.container-build=true ' || '' }}
          -Dquarkus.container-image.registry=${{ steps.login-ecr.outputs.registry }}
          -Dquarkus.container-image.group=${{ vars.IMAGE_GROUP }}
          -Dquarkus.container-image.tag="${{ steps.semantic.outputs.new_release_version }}"
          -Dquarkus.application.version="${{ steps.semantic.outputs.new_release_version }}"
          -Dquarkus.container-image.push=true
          -Dquarkus.container-image.build=true
          -DskipTests
      - name: Move to next version
        if: steps.semantic.outputs.new_release_published == 'true'
        run: |
          mvn build-helper:parse-version versions:set \
          -DnewVersion=${{ steps.semantic.outputs.new_release_version }}-SNAPSHOT \
          versions:commit
          git config --global user.name ${{ env.BOT_USERNAME }}
          git config --global user.email ${{ env.BOT_EMAIL }}
          git add -A
          git commit -m "[ci skip] setup snapshot version for next release"
      - name: Push
        if: steps.semantic.outputs.new_release_published == 'true'
        uses: pagopa/pdnd-github-actions/push-bot@codebuild_runner # update-me
        with:
          token: ${{ secrets.PAT_BOT }}
          branch_name: ${{ github.ref }}
          bot_name: ${{ env.BOT_USERNAME }}     
    outputs:
      release_tag: ${{ steps.semantic.outputs.new_release_version }}